body{

    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    background-image: url(../Imagens/Death_note_logo.webp);/*Insere uma imagem de fundo na TAG*/
    width: 100%; /*muda a largura da tela*/
    height: 150px; /*muda a altura da tela*/
    background-size: 100% 150px; /*muda o tamanho da imagem (largura-altura)*/
    background-repeat: no-repeat; /*nao deixa a imagem duplicar*/
}
nav{
position: absolute;
width: 100%;
height: 40px;
background-color: #000000;
margin-top: 155px;
box-shadow: 5px 1px 10px #000000;
text-align: center;
}
nav a{
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    padding-left: 3%;
    text-shadow: 0px 2px 3px #888888;
}
#esq{
position: absolute;
width: 10%;
height: 1300px;
background-color: #091799;
margin-top:  200px;

}

#dir{
position: absolute;
width: 10%;
height: 1300px;
background-color: #880b0b;
margin-top:  200px;
margin-left: 90%;
}
img{
width: 100%;


}
article{
position: absolute;
width: 80%;
height: 1300px;
background-color: black;
margin-top: 200px;
margin-left: 10%;
background-image: url(../Imagens/FUNDO2);
background-size: 100% 1300px;

}

footer{
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 1500px;
}
iframe{
width: 100%;
height: 1300px;
background-color: rgba(0, 0, 0, 0.6);

}
h1{
  font-size: 70px;
  color: white;
  text-align: center;


}
p{
color: white;
font-size: 20px;
text-align: justify;
margin-left: 25px;
margin-right: 20px;
text-indent: 50px;

}
#tm{
width: 20%;
float: left;
padding: 5px;

}
#lk{
    width: 20%;
    float: left;
    padding: 5px;
}
#txt{
color: #ffffff;

}